.popup-title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 20px;
  text-align: center;
  padding-top: 33px;
  margin-bottom: 60px;
}

form[name=editTeacher] {
  width: 925px;
  display: grid;
  grid-template-columns: 321px 443px 150px;
  grid-template-rows: repeat(6, auto) 250px;
  margin: 0 auto;
}
form[name=editTeacher] div:nth-child(1) {
  grid-area: 1/1/2/2;
}
form[name=editTeacher] div:nth-child(2) {
  grid-area: 2/1/3/2;
}
form[name=editTeacher] div:nth-child(3) {
  grid-area: 1/2/2/3;
}
form[name=editTeacher] div:nth-child(4) {
  grid-area: 2/2/3/3;
}
form[name=editTeacher] div:nth-child(5) {
  grid-area: 1/3/2/4;
}
form[name=editTeacher] div:nth-child(6) {
  grid-area: 2/3/3/4;
}
form[name=editTeacher] div:nth-child(7) {
  grid-area: 3/1/4/2;
}
form[name=editTeacher] div:nth-child(8) {
  grid-area: 4/1/5/2;
}
form[name=editTeacher] div:nth-child(9) {
  grid-area: 3/2/4/4;
}
form[name=editTeacher] div:nth-child(10) {
  grid-area: 4/2/5/4;
}
form[name=editTeacher] div:nth-child(11) {
  grid-area: 5/1/6/4;
}
form[name=editTeacher] div:nth-child(12) {
  grid-area: 6/1/7/4;
}
form[name=editTeacher] div:nth-child(13) {
  grid-area: 7/1/8/4;
}
form[name=editTeacher] div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-right: 10px;
}
form[name=editTeacher] label {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}
form[name=editTeacher] input:not(input[type=submit], input[type=reset]) {
  border: none;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: calc(100% - 20px);
  height: 55px;
  border-radius: 15px;
  background-color: #D9D9D9;
  margin-bottom: 18px;
  padding-left: 10px;
}
form[name=editTeacher] input:not(input[type=submit], input[type=reset])#teacherPhoto {
  display: none;
}
form[name=editTeacher] #div-edit-teacher-browse {
  display: flex;
}
form[name=editTeacher] #edit-teacher-browse-text {
  display: flex;
  align-items: center;
  border: none;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 80%;
  height: 55px;
  border-radius: 15px;
  background-color: #D9D9D9;
  margin-bottom: 18px;
  padding-left: 10px;
  height: 55px;
  margin-left: 0px;
}
form[name=editTeacher] #teacherPhotoBtn {
  width: 155px;
  height: 55px;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  background-color: #007A78;
  padding: 15px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

form[name=editCourse] {
  width: 925px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 293px) 310px;
  grid-template-rows: repeat(11, auto);
}
form[name=editCourse] div:nth-child(1) {
  grid-area: 1/1/2/3;
}
form[name=editCourse] div:nth-child(2) {
  grid-area: 2/1/3/3;
}
form[name=editCourse] div:nth-child(3) {
  grid-area: 1/3/2/4;
}
form[name=editCourse] div:nth-child(4) {
  grid-area: 2/3/3/4;
}
form[name=editCourse] div:nth-child(5) {
  grid-area: 3/1/4/3;
}
form[name=editCourse] div:nth-child(6) {
  grid-area: 4/1/5/3;
}
form[name=editCourse] div:nth-child(7) {
  grid-area: 3/3/4/4;
}
form[name=editCourse] div:nth-child(8) {
  grid-area: 4/3/5/4;
}
form[name=editCourse] div:nth-child(9) {
  grid-area: 5/1/6/2;
}
form[name=editCourse] div:nth-child(10) {
  grid-area: 6/1/7/2;
}
form[name=editCourse] div:nth-child(11) {
  grid-area: 5/2/6/4;
}
form[name=editCourse] div:nth-child(12) {
  grid-area: 6/2/7/4;
}
form[name=editCourse] div:nth-child(13) {
  grid-area: 7/1/8/4;
}
form[name=editCourse] div:nth-child(14) {
  grid-area: 8/1/9/4;
}
form[name=editCourse] div:nth-child(15) {
  grid-area: 9/1/10/4;
}
form[name=editCourse] div:nth-child(16) {
  grid-area: 10/1/11/4;
}
form[name=editCourse] div:nth-child(17) {
  grid-area: 11/1/12/4;
}
form[name=editCourse] div#photo-browse-div {
  display: flex;
}
form[name=editCourse] label {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}
form[name=editCourse] label#edit-course-browse-text {
  border: none;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: calc(70% - 20px);
  height: 55px;
  border-radius: 15px;
  background-color: #D9D9D9;
  margin-bottom: 18px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 55px;
  margin-left: 0px;
}
form[name=editCourse] label#edit-course-browse {
  width: 150px;
  height: 55px;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  background-color: #007A78;
  padding: 15px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
form[name=editCourse] input:not(input[type=submit], input[type=reset]), form[name=editCourse] textarea, form[name=editCourse] select {
  border: none;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: calc(100% - 20px);
  height: 55px;
  border-radius: 15px;
  background-color: #D9D9D9;
  margin-bottom: 18px;
  padding-left: 10px;
}
form[name=editCourse] input:not(input[type=submit], input[type=reset])#courseEnd, form[name=editCourse] textarea#courseEnd, form[name=editCourse] select#courseEnd {
  width: 273px;
}
form[name=editCourse] input:not(input[type=submit], input[type=reset])#coursePhoto, form[name=editCourse] textarea#coursePhoto, form[name=editCourse] select#coursePhoto {
  display: none;
}
form[name=editCourse] textarea {
  resize: none;
}
form[name=editCourse] input[type=reset] {
  margin-top: 20px;
}

form[name=createTeacher] {
  display: grid;
  grid-template-columns: 217px 179px 179px 310px;
  grid-template-rows: repeat(9, auto);
  justify-content: center;
}
form[name=createTeacher] div:nth-child(1) {
  grid-area: 1/1/2/2;
}
form[name=createTeacher] div:nth-child(2) {
  grid-area: 1/2/2/4;
}
form[name=createTeacher] div:nth-child(3) {
  grid-area: 1/4/2/5;
}
form[name=createTeacher] div:nth-child(4) {
  grid-area: 2/1/3/2;
}
form[name=createTeacher] div:nth-child(5) {
  grid-area: 2/2/3/4;
}
form[name=createTeacher] div:nth-child(6) {
  grid-area: 2/4/3/5;
}
form[name=createTeacher] div:nth-child(7) {
  grid-area: 3/1/4/5;
}
form[name=createTeacher] div:nth-child(8) {
  grid-area: 4/1/5/5;
}
form[name=createTeacher] div:nth-child(9) {
  grid-area: 5/1/6/5;
}
form[name=createTeacher] div:nth-child(10) {
  grid-area: 6/1/7/5;
}
form[name=createTeacher] div:nth-child(11) {
  grid-area: 7/1/8/3;
}
form[name=createTeacher] div:nth-child(12) {
  grid-area: 7/3/8/5;
}
form[name=createTeacher] div:nth-child(13) {
  grid-area: 8/1/9/3;
}
form[name=createTeacher] div:nth-child(14) {
  grid-area: 8/3/9/5;
}
form[name=createTeacher] div:nth-child(15) {
  grid-area: 9/1/10/5;
}
form[name=createTeacher] label {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}
form[name=createTeacher] label#teacherPhotoBtn {
  width: 175px;
  height: 55px;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  background-color: #007A78;
  padding: 15px 35px;
}
form[name=createTeacher] input:not([type=submit], [type=reset]) {
  border: none;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: calc(100% - 20px);
  height: 55px;
  border-radius: 15px;
  background-color: #D9D9D9;
  margin-bottom: 18px;
  padding-left: 10px;
}
form[name=createTeacher] input:not([type=submit], [type=reset])[type=file] {
  display: none;
}
form[name=createTeacher] input:not([type=submit], [type=reset])#teacherPhotoText, form[name=createTeacher] input:not([type=submit], [type=reset])[name=teacherTitle] {
  width: 321px;
}
form[name=createTeacher] input[type=submit] {
  margin-top: 29px;
  margin-right: 10px;
}

#popup-edit {
  width: 450px;
  height: 750px;
}

form[name=editProfile] {
  width: 400px;
  height: 749px;
  display: grid;
  grid-template-columns: 290px auto;
  grid-template-rows: repeat(12, auto);
  margin: 0 auto;
}
form[name=editProfile] div:nth-child(1) {
  grid-area: 1/1/2/3;
}
form[name=editProfile] div:nth-child(2) {
  grid-area: 2/1/3/3;
}
form[name=editProfile] div:nth-child(3) {
  grid-area: 3/1/4/3;
}
form[name=editProfile] div:nth-child(4) {
  grid-area: 4/1/5/3;
}
form[name=editProfile] div:nth-child(5) {
  grid-area: 5/1/6/3;
}
form[name=editProfile] div:nth-child(6) {
  grid-area: 6/1/7/2;
}
form[name=editProfile] div:nth-child(7) {
  grid-area: 6/2/7/3;
}
form[name=editProfile] div:nth-child(8) {
  grid-area: 7/1/8/2;
}
form[name=editProfile] div:nth-child(9) {
  grid-area: 7/2/8/3;
}
form[name=editProfile] div:nth-child(10) {
  grid-area: 8/1/9/3;
}
form[name=editProfile] div:nth-child(11) {
  grid-area: 9/1/10/3;
}
form[name=editProfile] div:nth-child(12) {
  grid-area: 10/1/11/3;
}
form[name=editProfile] div:nth-child(13) {
  grid-area: 11/1/12/2;
}
form[name=editProfile] div:nth-child(14) {
  grid-area: 11/2/12/3;
}
form[name=editProfile] div:nth-child(15) {
  grid-area: 12/1/13/3;
}
form[name=editProfile] div:first-child {
  margin: 0 auto;
}
form[name=editProfile] div:first-child label > img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: -20px;
  margin-top: 10px;
}
form[name=editProfile] div:first-child label:hover {
  cursor: pointer;
  opacity: 10%;
}
form[name=editProfile] div:first-child input[type=file] {
  display: none;
}
form[name=editProfile] div:first-child #editClose {
  width: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
form[name=editProfile] #editBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
form[name=editProfile] #studentPasswordBtn {
  border: none;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 105px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #8e0000;
  border-radius: 15px;
  cursor: pointer;
  margin-top: -10px;
}
form[name=editProfile] label {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
}
form[name=editProfile] input:not([type=submit], [type=reset]) {
  border: none;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: calc(100% - 15px);
  height: 55px;
  border-radius: 15px;
  background-color: #D9D9D9;
  margin-bottom: 18px;
  padding-left: 10px;
  height: 55px;
  margin-bottom: 0px;
  margin-top: -10px;
}
form[name=editProfile] input[type=submit], form[name=editProfile] input[type=reset] {
  height: 50px;
  margin: 0px;
}

input[type=submit] {
  width: 175px;
  height: 55px;
  border-radius: 15px;
  border: none;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  background-color: #007A78;
  float: right;
  cursor: pointer;
  padding-left: 0;
}

input[type=reset] {
  width: 175px;
  height: 55px;
  border-radius: 15px;
  border: 2px solid #007A78;
  color: #007A78;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: white;
  float: right;
  margin-top: 29px;
  margin-right: 20px;
  cursor: pointer;
  padding-left: 0;
}/*# sourceMappingURL=popUP.css.map */