@import 'variables.scss';
@import 'mixin.scss';


#loginContainer {
    @include grid(65% 35%, 100vh);
    
    div {

        &:first-child{
            background-image: url("../src/login.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        &:last-child{
            border-left: 2px solid grey;
            @include grid(1fr, repeat(7, auto));
            text-align: center;
            justify-items: center;

            img {
                margin-top: 50px;
                margin-bottom: -40px;
            }

            h1{
                @include boxSize(378px, fit-content);
                @include title();
                font-size: 64px;
                padding: 0px;
                margin-bottom: 60px;
            }
            form[name="login"]{
                @include boxSize(378px, fit-content);
                
                input {
                    @include textbox(100%);
                    border: 1px solid rgba(0, 0, 0, 0.24);
                    
                    &[type="submit"]{
                        @include browsePhotoBtn(100%);
                        font-weight: bold;
                    }
                }
            }
            
        }
    }

}