@mixin flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin hoverLinks($lineType, $color){
    text-decoration: $lineType;
    color: $color;
    cursor: pointer;
}

@mixin boxSize($width, $height, $borderRadius: 0){
    width: $width;
    height: $height;

    @if $borderRadius != 0 {
        border-radius: $borderRadius;
    }
}

@mixin grid($gridColums, $gridRows){
    display: grid;
    grid-template-columns: $gridColums;
    grid-template-rows: $gridRows;
}

@mixin gridArea($areaName){
    grid-area: $areaName;
}

@mixin defaultBtn($border, $color){
    border: $border;
    color: $color;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin position($position, $top, $left){
    position: $position;
    top: $top;
    left: $left;
}

@mixin title($px, $weight){
    color: #000;
    font-size: $px;
    font-style: normal;
    font-weight: $weight;
    line-height: normal;
    padding-top: 20px;
}

@mixin labelStyles(){
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 10px;
}

@mixin textbox($width){
    @include defaultBtn(none, black);
    @include boxSize($width, 55px, $buttonRadius);
    background-color: #D9D9D9;
    margin-bottom: 18px;
    padding-left: 10px;
}

@mixin browsePhotoBtn($width){
    @include boxSize($width, 55px, $buttonRadius);
    @include defaultBtn(none, white);
    cursor: pointer;
    background-color: $primaryColor;
    padding: 15px 35px;
}

@mixin generateGridArea($selector, $areasCuadricula){
    @each $area in $areasCuadricula {
        $i: index($areasCuadricula, $area);
        #{$selector}:nth-child(#{$i}) {
            grid-area: #{nth($area, 1)} / #{nth($area, 2)} / #{nth($area, 3)} / #{nth($area, 4)};
        }
    }
}
@mixin courseTitles(){
    color: black;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}