@import 'mixin.scss';
@import 'variables.scss';

.popup-title{
    @include title(32px, 500);
    text-align: center;
    padding-top: 33px;
    margin-bottom: 60px;
}

form[name="editTeacher"]{
    $cuadricula: 
    (1, 1, 2, 2),
    (2, 1, 3, 2),
    (1, 2, 2, 3),
    (2, 2, 3, 3),
    (1, 3, 2, 4),
    (2, 3, 3, 4),
    (3, 1, 4, 2),
    (4, 1, 5, 2),
    (3, 2, 4, 4),
    (4, 2, 5, 4),
    (5, 1, 6, 4),
    (6, 1, 7, 4),
    (7, 1, 8, 4);

    width: 925px;
    @include grid(321px 443px 150px, repeat(6, auto) 250px);
    @include generateGridArea(div, $cuadricula);
    margin: 0 auto;

    div {
        &:last-child{
            display: flex;
            justify-content: flex-end;
            align-items: end;
            margin-right: 10px;
        }
    }

    label {
        @include labelStyles();
    }

    input:not(input[type="submit"], input[type="reset"]) {
        @include textbox(calc(100% - 20px));

        &#teacherPhoto { display: none; }
    }

    #div-edit-teacher-browse{
        display: flex;
    }

    #edit-teacher-browse-text {
        display: flex;
        align-items: center;
        
        @include textbox(80%);
        height: 55px;
        margin-left: 0px;
    }

    #teacherPhotoBtn{
        @include browsePhotoBtn(155px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }      
}

form[name="editCourse"]{
    $cuadricula: 
    (1, 1, 2, 3),
    (2, 1, 3, 3),
    (1, 3, 2, 4),
    (2, 3, 3, 4),
    (3, 1, 4, 3),
    (4, 1, 5, 3),
    (3, 3, 4, 4),
    (4, 3, 5, 4),
    (5, 1, 6, 2),
    (6, 1, 7, 2),
    (5, 2, 6, 4),
    (6, 2, 7, 4),
    (7, 1, 8, 4),
    (8, 1, 9, 4),
    (9, 1, 10, 4),
    (10, 1, 11, 4),
    (11, 1, 12, 4);

    width: 925px;
    margin: 0 auto;
    @include grid(repeat(2, 293px) 310px, repeat(11, auto));
    @include generateGridArea(div, $cuadricula);
    
    div {
        &#photo-browse-div{
            display: flex;
        }
    }

    label {
        @include labelStyles();

        &#edit-course-browse-text {
            @include textbox(calc(70% - 20px));
            display: flex;
            align-items: center;
            height: 55px;
            margin-left: 0px;
        }

        &#edit-course-browse {
            @include browsePhotoBtn(150px);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px;
        }
    }
    input:not(input[type="submit"], input[type="reset"]), textarea, select {
        @include textbox(calc(100% - 20px));
        
        &#courseEnd{
            width: 273px;
        }

        &#coursePhoto {
            display: none;
        }
    }
    
    textarea { resize: none; }

    input[type="reset"]{
        margin-top: 20px;
    }
}

form[name="createTeacher"]{
    $areasCuadricula: (
        (1, 1, 2, 2),
        (1, 2, 2, 4),
        (1, 4, 2, 5),
        (2, 1, 3, 2),
        (2, 2, 3, 4),
        (2, 4, 3, 5),
        (3, 1, 4, 5),
        (4, 1, 5, 5),
        (5, 1, 6, 5),
        (6, 1, 7, 5),
        (7, 1, 8, 3),
        (7, 3, 8, 5),
        (8, 1, 9, 3),
        (8, 3, 9, 5),
        (9, 1, 10, 5)
    );
      

    @include grid(217px 179px 179px 310px, repeat(9, auto));
    @include generateGridArea(div, $areasCuadricula);
    justify-content: center;

    label { 
        @include labelStyles(); 
        
        &#teacherPhotoBtn { 
            @include browsePhotoBtn(175px);
        }
    }
    input:not([type="submit"], [type="reset"]) { 
        @include textbox(calc(100% - 20px)); 
        
        &[type="file"]{ display: none; }

        &#teacherPhotoText, &[name="teacherTitle"]{ width: 321px; }

    }

    input{
        &[type="submit"] {
            margin-top: 29px;
            margin-right: 10px;
        }
    }


}
#popup-edit { 
    width: 450px; 
    height: 750px; 
}
form[name="editProfile"]{
    $areasCuadricula: (
        (1, 1, 2, 3),
        (2, 1, 3, 3),
        (3, 1, 4, 3),
        (4, 1, 5, 3),
        (5, 1, 6, 3),
        (6, 1, 7, 2),
        (6, 2, 7, 3),
        (7, 1, 8, 2),
        (7, 2, 8, 3),
        (8, 1, 9, 3),
        (9, 1, 10, 3),
        (10, 1, 11, 3),
        (11, 1, 12, 2),
        (11, 2, 12, 3),
        (12, 1, 13, 3)
    );
    @include boxSize(400px, 749px);
    @include grid(290px auto, repeat(12, auto));
    @include generateGridArea(div, $areasCuadricula);
    margin: 0 auto;

    div {
        &:first-child {
            label {
                > img{ 
                    width: 150px;
                    border-radius: 50%;
                    margin-bottom: -20px;
                    margin-top: 10px;
                    cursor: pointer;
                }
                
            }
            input[type="file"]{ display: none; }
            margin: 0 auto;
            #editClose {
                width: 32px;
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }

        }

    }
    #editBtns{
        @include flex(row, center, space-between);
    }
    
    #studentPasswordBtn{
        @include defaultBtn(none, white);
        @include boxSize(105px, 55px);
        @include flex(row, center, center);
        background-color: $danger;
        border-radius: $buttonRadius;
        cursor: pointer;
        margin-top: -10px;
    }
    label { 
        @include labelStyles(); 
        font-size: 16px;
        font-weight: 700;
    }
    input:not([type="submit"], [type="reset"]) {
        @include textbox(calc(100% - 15px));
        height: 55px;
        margin-bottom: 0px;
        margin-top: -10px;
    }

    input[type="submit"], input[type="reset"]{
        height: 50px;
        margin: 0px;
    }
    

}
    


input[type="submit"]{
    @include boxSize(175px, 55px, $buttonRadius);
    @include defaultBtn(none, #FFF);
    margin-top: 20px;
    background-color: $primaryColor;
    float: right;
    cursor: pointer;
    padding-left: 0;
}

input[type="reset"]{
    @include boxSize(175px, 55px, $buttonRadius);
    @include defaultBtn(2px solid $primaryColor, $primaryColor);
    background-color: white;
    float: right;
    margin-top: 29px;
    margin-right: 20px;
    cursor: pointer;
    padding-left: 0;
}