@import 'mixin.scss';
@import 'variables.scss';


.card {
	width: 269px;
	height: fit-content;
	border-radius: 20px;
	border: 1px solid grey;

	font-family: $font;
	> div {
		&:first-child {
			width: 100%;
			height: 160px;
			> img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 20px 20px 0px 0px;
			}
		}
		
		&:last-child{
			width: 100%;
			height: 81px;
			box-sizing: border-box;
			padding: 10px;
			border: 1px solid green;
			transition: height 1s;
			overflow: hidden;
			

			&:hover {
				height: 180px;
			}

			h3 {
				margin: 0px;
				padding: 0px;
			}

			#desc {
				display: flex;
				flex-direction: row;
				align-items: center;
				img {
					width: 30px;
					height: 30px;
					border-radius: 50%;
				}
			}
			#nota{
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;

				img {
					width: 30px;

				}
				p {
					font-weight: bold;
				}

			}

			#date{
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				
			}
			
		}
	}
}