$primaryColor: #007A78;
$danger: #8e0000;
$font: 'Inter', sans-serif;
$buttonRadius: 15px;
$boxRadius: 20px;
$adminFormWidth: 1268px;
$adminFormHeight: 506px;
$radiusFolders: 20px 20px 0px 0px;
$gridColumns: 15% 70% 15%;
$gridRows: auto; 
$boxShadow : 0px 4px 4px 0px rgba(0, 0, 0, 0.25);