$primaryColor: #007A78;
$danger: #8e0000;
$font: 'Inter', sans-serif;

*{
    padding: 0;
    margin: 0;
}

@mixin flex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

header{
    @include flex(row, center, space-between);
    height:  60px;
    border-bottom: 1px solid lightgray;

    > div {
        @include flex(row, space-between);
        width: 100%;
        height: fit-content;

        img {
            width: 165px;
        }

        > img + div {
            @include flex(center);
        }
    }
}


