@import 'scss/variables.scss';
@import 'scss/mixin.scss';
@import 'scss/header.scss';
@import 'scss/grid.scss';
@import 'scss/popUP.scss';

*{
    padding: 0;
    margin: 0;
    font-family: $font;
}

#form-container{
    @include boxSize($adminFormWidth, 565px, $boxRadius);
    background-color: rgba(0, 122, 120, 0.56);

    > button{
        @include boxSize(168px, 50px, $radiusFolders);
        @include defaultBtn(none, white);
        margin-top: 11px;

        &:first-child{
            background-color: $primaryColor;
            margin-left: 32px;
        }
        
        &:nth-child(2){
            background-color: rgba(0, 163, 160, 0.75);
            margin-left: -30px;
        }
    }

    div:nth-child(3) {
        @include boxSize($adminFormWidth, $adminFormHeight, 0px 0px 20px 20px);
        color: white;
        visibility: hidden;
        position: absolute;
        background-color: #00a3a0;
    }

    div:nth-child(4){
        @include boxSize($adminFormWidth, $adminFormHeight, 0px 0px 20px 20px);
        color: white;
        background-color: $primaryColor;
        position: absolute;
    }
    table {
        width: 100%;
        img {
            width: 100px;
        }
    }
}

#popupBackground {
    @include boxSize(100%, 100vh);
    @include position(fixed, 0,0);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;

    > div {
        @include boxSize(1100px, 720px, $boxRadius);
        @include position(absolute, 50%, 50%);
        transform: translate(-50%, -50%);
        background-color: white;
        opacity: 100%;
    }

}

