@import 'scss/variables.scss';
@import 'scss/mixin.scss';
@import 'scss/header.scss';
@import 'scss/grid.scss';
@import 'scss/popUP.scss';
@import 'scss/popUpCourse.scss';
@import 'scss/login.scss';

*{
    padding: 0;
    margin: 0;
    font-family: $font;
}

#form-container{
    @include boxSize($adminFormWidth, 565px, $boxRadius);
    background-color: rgba(0, 122, 120, 0.56);

    > button{
        @include boxSize(168px, 50px, $radiusFolders);
        @include defaultBtn(none, white);
        margin-top: 11px;

        &:first-child{
            background-color: $primaryColor;
            margin-left: 32px;
        }
        
        &:nth-child(2){
            background-color: rgba(0, 163, 160, 0.75);
            margin-left: -30px;
        }
    }

    div:nth-child(3) {
        @include boxSize($adminFormWidth, $adminFormHeight, 0px 0px 20px 20px);
        color: white;
        visibility: hidden;
        position: absolute;
        background-color: #00a3a0;
    }

    div:nth-child(4){
        @include boxSize($adminFormWidth, $adminFormHeight, 0px 0px 20px 20px);
        color: white;
        background-color: $primaryColor;
        position: absolute;
    }
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0px 10px;
        img {
            width: 100px;
        }
        tr{
            
            td{
                width: 1204px;
                height: 57px;
                flex-shrink: 0;
                background: #018C8A;
                box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);

                &:first-child{
                    border-top-left-radius: $boxRadius;
                    border-bottom-left-radius: $boxRadius;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                }
                &:last-child{
                    border-top-right-radius: $boxRadius;
                    border-bottom-right-radius: $boxRadius;
                    
                }

            }
            th {
                padding-top: 20px;
                text-align: left;
                &:first-child{
                    padding-left: 10px;
                }
            }
        }
    }
}

.popupBackground {
    @include boxSize(100%, 100vh);
    @include position(fixed, 0,0);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;

    > div {
        @include boxSize(1100px, 720px, $boxRadius);
        @include position(absolute, 50%, 50%);
        transform: translate(-50%, -50%);
        background-color: white;
        opacity: 100%;
    }

}

#studentPanel{
    > div {
        @include flex(row, center, space-between);
        margin-top: 50px;
        a{
            @include browsePhotoBtn(fit-content);
            float: right;
            height: fit-content;
            text-decoration: none;
        }
    }
    
}
#wrap {
    display: flex;
    flex-wrap: wrap;
    .card{
        width: 270px;
        height: 240px;
        border-radius: 20px;
        border: 1px solid black;
    
            > div {
                width: 270px;
                height: 158px;
                border-radius: 20px 20px 0px 0px;
                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        
    }

}

form[name="editProfile"]{
    width: 500px;
    
    $cuadricula : (1, 1, 2, 4),
    (2, 1, 3, 2),
    (2, 2, 3, 4),
    (3, 1, 4, 3),
    (3, 3, 4, 4),
    (4, 1, 5, 4),
    (5, 1, 6, 4),
    (6, 1, 7, 4);
    @include grid(repeat(3, 1fr), repeat(5, auto));
    @include generateGridArea(div, $cuadricula);
    
    img {
        width: 150px;
    }
    label {@include labelStyles();}
    input {
        @include textbox(fit-content);
    }

}
